@page "/home"

@inject NavigationManager Navigation
@inject Data.IFNFData FNFData
@inject Data.CustomAuthenticationStateProvider CustomAuthenticationStateProvider

<PageTitle>4 Nations Fantasy</PageTitle>

<div class="d-flex justify-end">
    <MudIconButton OnClick=@( () => overlayVisible = true ) Icon="@Icons.Material.Filled.Info" />
</div>

<MudOverlay @bind-Visible="overlayVisible" DarkBackground AutoClose>
    <ScoringSettingsCard />
</MudOverlay>

@if (Users is not null)
{
    <MudGrid>
        @foreach (var user in Users)
        {
            <MudItem xs="6" sm="4" md="3" lg="2">
                <TeamPreview User="@user" />
            </MudItem>
        }
    </MudGrid>
}

@code{

    private IEnumerable<Data.User>? Users;

    private bool overlayVisible = false;
    
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(CustomAuthenticationStateProvider.CurrentUser.Email))
        {
            Navigation.NavigateTo("/");
        }
        
        Users = await FNFData.GetAllUsersAsync();
    }

}