@inject Data.ScoreCalculationService ScoreCalculator
@inject Data.IFNFData FNFData

@if (User is not null)
{
    <a href=@($"roster/{User.id}")>
        <MudPaper Class="pa-3 mud-theme-surface" Elevation="3">
            <MudStack Style="min-height: 100px" Row="true" AlignItems="AlignItems.Center">
                <MudAvatar Color="Color.Primary">@User.teamname.First()</MudAvatar>
                <MudText Typo="Typo.subtitle2">@User.teamname</MudText>
            </MudStack>
            <MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly">
                @if (playerProfiles is not null && goalieProfiles is not null)
                {
                    <MudText Typo="Typo.body2">@(PlayerGamesPlayed + GoalieGamesPlayed)/45 games played</MudText>
                    <MudText Typo="Typo.body2">@((PlayerPointTotal + GoaliePointTotal).ToString("F2")) points</MudText>
                }
                else
                {
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="20px" Width="100px" />
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="20px" Width="100px" />
                }
            </MudStack>
        </MudPaper>
    </a>
}


@code {
    [Parameter] 
    public Data.User User { get; set; }

    private IEnumerable<(Data.FNFPlayer, List<Nhl.Api.Models.Game.PlayerGameLog>)>? playerProfiles;
    private IEnumerable<(Data.FNFPlayer, List<Nhl.Api.Models.Game.GoalieGameLog>)>? goalieProfiles;

    private int PlayerGamesPlayed => playerProfiles?.Sum(p => p.Item2.Count()) ?? 0;
    private int GoalieGamesPlayed => goalieProfiles?.Sum(p => p.Item2.Count()) ?? 0;
    private double PlayerPointTotal => playerProfiles?.Sum(p => p.Item2.Sum(g => ScoreCalculator.CalculatePlayerSeasonGameScore(g))) ?? 0;
    private double GoaliePointTotal => goalieProfiles?.Sum(p => p.Item2.Sum(g => ScoreCalculator.CalculateGoalieSeasonGameScore(g))) ?? 0;
    
    protected override async Task OnInitializedAsync()
    {
        if (User?.id is not null)
        {
            playerProfiles = await FNFData.GetRosterPlayerTournamentGameLogsAsync(User.id);
            goalieProfiles = await FNFData.GetRosterGoalieTournamentGameLogsAsync(User.id);
        }
    }
}
