<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />  
    
    <link rel="icon" type="image/jpg" href="favicon.jpg" />
    <link rel="shortcut icon" type="image/jpg" href="favicon.jpg" />
    <link rel="apple-touch-icon" type="image/jpg" href="favicon.jpg" />
    
    <link rel="manifest" href="/site.webmanifest" />
    <HeadOutlet @rendermode="InteractiveServer" />
    
    <title>4 Nations Fantasy</title>
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
